.bg-grey {
  background-color: #ffffff;
}


.footer2 {
   background-color: #ffffff;
}


.image2 {
  
  border-radius: 50%;
}


body {
  background-color: #ffffff
}


h1 {
  text-align: center;
  background-color: #e5cb6c;
  font-family: 'Roboto Condensed', sans-serif;

}


h2 {
  text-align: center;
  background-color: #e5cb6c;
  font-family: 'Roboto Condensed', sans-serif;

}


h3 {
  text-align: center;
  background-color: #e5cb6c;
  font-family: 'Roboto Condensed', sans-serif;

}


p {
  text-align: center;
  background-color: #cccccc;
  font-family: 'Dosis', sans-serif;
}


img {
  width: 350px;
  height: 300px;
}


div {
  text-align: center;
}


footer {
  background-color: #616161;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}


nav {
  background-color: #2b2b2b;
  border: 1px solid black;
  color: black;
  display: block;
  overflow: hidden;
  width: 100%;
}


nav ul li {
  display: inline-block;
  list-style-type: none;
}


nav ul li a {
  color: #ebebeb;
  display: block;
  line-height: 56px;
  text-decoration: none;
  padding: 10px;
}


* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 25%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: #ffffff;
    opacity: 0.1;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: #ffffff;
    opacity: 0.5;
  }
}